<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pgb.brewapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
	<name>Cybba.biz</name>
	<description>
		Cybba.biz 
	</description>

	<author email="chris.peterson@cybba.com" href="https://cybba.com">
                Cybba
        </author>

	<preference name="phonegap-version" value="cli-6.0.0" />
</widget>
